@import './scss/navigation';
@import './scss/colors';
@import './scss/sermon';
/* @import './scss/accordion'; */

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}

h1,
h2,
ul {
  margin: 0 !important;
  padding: 0 !important;
}


/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */
.content {
    width: 95%;
    max-width: 780px;
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 0 auto 2em;
    background: #fff;
    border-radius: .5em;
    /* box-shadow: 0 3px rgba(0,0,0, .1); */
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* IMAGES -------- */

  /* ICONS -------- */

  /* MISC MOVE LATER -------- */
  .not-found {
    text-align: center;
  }
