.callout.small {
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.ann-text-plain {
    color: #000 !important;
    font-weight: normal;
}

.ann-title {
    font-weight: bold;
}

.ann-date {
    color: $nhbc-red-light;
}

.ann-event-time {
    color: $nhbc-red-light;
}

.ann-msg {
    margin-bottom: .5rem;
}

.ann-msg-detail {
    color: $nhbc-red-light;
    font-style: italic;
    margin-bottom: .5rem;
}

.ann-logistics {
    @include text-plain;
}