/* ===============
   COLORS 
   =============== */
   $nhbc-primary-blue: #1e345d;
   $nhbc-primary-blue-lighter: #2c4b82;
   $nhbc-blue-type: #3e73cc;
   $nhbc-orange-type: #ffdbb7;
   $nhbc-orange-icon: #ffb74d;
   $nhbc-blue-hero: #00569c;
   $nhbc-gray-label: #929292;
   $nhbc-dark-gray: #575755;
   $nhbc-light-gray: #f8f8f8;
   