.main-nav a {
  font-size: .95em !important;
  color: #222 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  display: block !important;
  padding: 1em !important;
  transition: .2s !important;
}
.main-nav a:hover,
.main-nav .active {
  color: #fff !important;
  background: #3b80d1 !important;
}

.top-bar-left, .top-bar-right, .top-bar-middle {
  justify-content: space-between !important;
}

.top-bar-left, .top-bar-right {
  width: 100px !important;
}



.top-bar .top-bar-left {
  flex-basis: auto !important;
  margin-right: unset !important;
  flex: unset !important;
}

.top-bar .top-bar-right {
  flex-basis: auto !important;
  margin-left: unset !important;
  flex: unset !important;
  text-align: right !important;
  padding-right: 10px;
}