/* =================== 
  ACCORDION STYLES
====================== */
.sermon-accordion-content {
    width: 95%;
    max-width: 780px;
    padding: 0 1em;
    margin: 0 auto .5em;
    background: #fff;
    border-radius: .5em;
    /* box-shadow: 0 3px rgba(0,0,0, .1); */
    overflow: hidden;
  }

  .sermon-accordion-content ul {
    margin-bottom: .55em !important;
  }
  
  .sermon-accordion-content li {
    list-style-type: none !important;
  }

  .accordion-title {
    font-size: 1.5em !important;
    letter-spacing: -1px;
    text-decoration: none !important;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: transparent !important;
    color: firebrick;
}

/* =================== 
  SERMON STYLES
====================== */

.sermon-date {
  color: #000 !important;
  font-weight: bold;
  font-size: .95em;
}

.sermon-text-plain {
  color: #000 !important;
  font-weight: normal;
}

.sermon-title {
  color: $nhbc-red-light !important;
  font-weight: bold; 
}

.sermon-sub-title {
  margin-bottom: .375rem !important;
  font-size: 1.35em;
  color: $nhbc-charcoal !important;
}

.sermon-intro {
  color: $nhbc-red-light !important;
  font-weight: bold;
  line-height: 1;
  font-size: .95em;
}


